

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Barlow-Medium, sans-serif;
    font-weight: 0;
    font-size: 20px;
    background: transparent;
}

main {
    display: flex;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    margin-bottom: -90px;
}

ul {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
    outline: none;
    color: white;
}

    a:hover:before {
        background: #0b2852;
    }

img {
    display: block;
    pointer-events: none;
    height: 200px;
    width: 250px;
}

html {
    height: 100%;
}

body {
    font-family: Star Wars, fantasy;
    display: block;
    justify-content: center;
    background: #f4f4f4;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    height: 100%;
    /*    padding: 0%;
    margin: 0%;*/
    /* margin: 0 0 20px 0;
    padding: 0 0 20px 0;*/
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}

button:hover {
    background: none;
}
header {
    /*position: fixed;*/
    width: 100%;
    background-color: rgb(54,185,255);
    height: 80px;
    color: white;
    padding: 0%;
    margin: 0%;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-top: 20px;*/
    min-width: 500px;
    font-size:20px;
}

.header-flex-box {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.header-logo-col {
    margin: 10px 30px 10px 15px;
    display: flex;
}

.header-username-col {
    font-family: Barlow-Regular, sans-serif;
    font-size: 18px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo {
    height: 70px;
    width: 182px;
}

.header-logo-ref {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-add-col {
    align-items: center;
    display: flex;
    margin: 0 20px;
    justify-content: center;
}

.header-add-button:hover {
    background: #0b2852;
    color: white;
    transform: scale(.95);
}

    .header-add-button:hover:before {
        color: rgb(54,185,255);
        background: white;
    }

.header-log-col {
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
}

.header-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    position: relative;
    height: 40px;
    padding: 0 15px 0 15px;
    margin: 10px;
    background: #e0f2ff;
    border-width: 0;
    outline: none;
    cursor: pointer;
    line-height: 45px;
    border-radius: 45px;
    text-align: center;
    color: #524f4e;
    white-space: nowrap;
    font-size: 20px;
    font-family: Barlow-Medium, sans-serif;
    font-weight: 500;
}

.header-button {
    background: #e0f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 10px 15px;
    border: none;
    cursor: pointer;
    padding: 0 30px;
    text-decoration: none;
    width: max-content;
    height: 40px;
    line-height: 40px;
    border-radius: 45px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    outline: none;
    color: #524f4e;
    white-space: nowrap;
    font-size: 20px;
    font-family: Barlow-Medium,sans-serif;
    font-weight: 500;
}

/*#login {
    display: none;
}*/

.header-button:hover {
    background: #0b2852;
    color: white;
    transform: scale(.95);
}

.header-logo-user-col {
    display: flex;
    align-content: center;
}

.header-menu {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
}

.header-left {
    display: flex;
    height: inherit;
    justify-content: center;
    margin: 1px;
}

.menu-col {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    height: inherit;
    white-space: nowrap;
    color: white;
}

.menu-href:after {
    background-color: white;
    display: block;
    content: "";
    height: 3px;
    width: 0;
    transition: width .3s ease-in-out;
}

.menu-href:hover:after,
.menu-href:focus:after {
    width: 100%;
}

.menu-href-active:after {
    background-color: white;
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    transition: width .3s ease-in-out;
}

.menu-href {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: Barlow-Medium, sans-serif;
    font-weight: 500;
    height: 70px;
    padding-top:20px;
}



.card-main-part {
    height: 230px;
}

.main-container {
    display: flex;
    width: inherit;
    margin-top: 70px;
    width: -webkit-fill-available;
}

.main-col {
    color: black;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.main-box-inline-block {
    display: inline-block;
}

.push {
    height: 90px;
    width: 100%;
}

.more-button {
    outline: none;
    background: white;
    box-shadow: 0 0 17px -10px #000000;
    display: flex;
    border-style: solid;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 250px;
    border-width: 0;
}

.more-button-box {
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
}

@media(max-width: 2380px) {
    .main-col {
        width: inherit;
    }

    .main-box-inline-block {
        width: 1400px;
    }

    .more-button-box {
        width: 1300px;
    }
}

@media(max-width: 1710px) {
    .main-col {
        width: inherit;
    }

    .main-box-inline-block {
        width: 700px;
    }

    .more-button-box {
        width: 600px;
    }
}

footer {
    /*position: fixed;*/
    position: absolute;
    left: 0px;
}
/*header{
    margin-bottom:20px;
}*/
a:hover:before {
    color: rgb(54,185,255);
}
button:hover:before {
    color: rgb(54,185,255);
}


.menu-col {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    height: inherit;
    white-space: nowrap;
    color: white;
}

.menu-href:after {
    background-color: white;
    display: block;
    content: "";
    height: 3px;
    width: 0;
    transition: width .3s ease-in-out;
}

.menu-href:hover:after,
.menu-href:focus:after {
    width: 100%;
}

.menu-href-active:after {
    background-color: white;
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    transition: width .3s ease-in-out;
}

.menu-href {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: Barlow-Medium, sans-serif;
    font-weight: 500;
    height: 70px;
}

.main-container {
    display: flex;
    width: inherit;
    /*margin-top: 70px;*/
    margin-top: 0px;
    width: -webkit-fill-available;
}

.main-col {
    color: black;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:inherit;
}

.main-box-inline-block {
    display: inline-block;
}

.push {
    height: 90px;
    width: 100%;
}

.more-button {
    outline: none;
    background: white;
    box-shadow: 0 0 17px -10px #000000;
    display: flex;
    border-style: solid;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 250px;
    border-width: 0;
}

.more-button-box {
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
}

@media(max-width: 2380px) {
    .main-col {
        width: inherit;
    }

    .main-box-inline-block {
        width: 1400px;
    }

    .more-button-box {
        width: 1300px;
    }
}

@media(max-width: 1710px) {
    .main-col {
        width: inherit;
    }

    .main-box-inline-block {
        width: 700px;
    }

    .more-button-box {
        width: 600px;
    }
}

.post-info {
    text-align: left;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    margin-left: 10px;
    margin: 10px;
    background: rgb(14, 77, 129); /* Цвет фона  rgba(144, 214, 241, 0.9); */
}

.post-text {
    padding: 10px; /* Поля вокруг текста */
    color: white; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    font-size: 15px;
    font-family: 'Oswald-ExtraLight';
    font-weight: 500;
}

.card-box {
    display: flex;
    width: 650px;
    /*height: 370px;*/
    background: none;
    float: left;
    margin: 10px 0 50px 30px;
}

.card-main-col {
    display: flex;
    width: 600px;
   /* height: 370px;*/
    background: none;
}

.card-buttons-col {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    margin-left: 5px;
    background: none;
}

.card-hashtags {
    display: flex;
    font-size: 14px;
    height: 20px;
    margin-top: 5px;
    font-family: Barlow-Medium,sans-serif;
    color: black;
}

.card-main-box {
    /*display: flex;*/
    height: fit-content;
    width: inherit;
    background: white;
    float: left;
    padding: 17px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 17px -10px #000000;
}

.card-img {
    float: left;
    /*margin: 10px;*/
    margin: auto;
    margin-top: 10px;
    width: 250px;
    height: 200px;
    /*
    margin-left: auto;
    margin-right: auto;*/
    border-radius: 10px;
    object-fit: contain;
}

.card-img-box {
    padding-top: 100px;
    width: 280px;
    height: 280px;
    display: flex;
    border-width: 0;
    border-style: solid;
    border-radius: 10px;
    align-items: center;
    margin-top: 50px;
    margin-left: 0%;
}

.card-text-user {
    width: inherit;
    font-size: 25px;
    text-align: left;
    font-family: 'Oswald-ExtraLight';
}

.card-text-time {
    font-size: 15px;
    font-family: 'Oswald-ExtraLight';
}

.card-text-top {
    font-size: 14px;
    flex-direction: column;
    height: 270px;
    display: flex;
    justify-content: space-between;
}


.card-text-box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: inherit;
    justify-content: center;
}

.card-text-hr {
    margin: 10px 0;
}

.card-text-top span {
    font-weight: bold;
}

.card-text-bottom-left {
    /*display: flex;
    flex-direction: row;*/
    justify-content: center;
    height: 40px;
    padding-bottom: 20px;
    /*margin-right: 400px;*/
    /*width: 600px;*/
}

.card-text-bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-edit-button:before {
    content: "\f044";
    font-size: 2em;
    font-family: FontAwesome, serif;
    color: white;
   /* background: transparent;
    transition: .3s ease-in-out;*/
}

.card-edit-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/*.card-edit-button:hover{
    background-color:none;
    color:chartreuse;
}*/
.card-buttons-col button, .card-like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    height: 40px;
    /*background: transparent*/;
    border-width: 0;
    cursor: pointer;
    outline: none;
    width: 40px;
    border-radius: 30px;
}



.card-delete-button:before {
    content: "\f1f8";
    font-size: 2em;
    width: 40px;
    height: 40px;
    font-family: FontAwesome, serif;
    color: white;
    /*background: transparent;
    transition: .3s ease-in-out;*/
}


#like-check[type = checkbox] {
    display: none;
}

#like-check + label {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .1s all;
    cursor: pointer;
}

    #like-check + label:hover {
        transform: scale(.95);
    }

    #like-check + label:after {
        content: "\f004";
        font-size: 35px;
        font-family: FontAwesome, serif;
        color: #524f4e;
        transition: .3s ease-in-out;
    }

#like-check:checked + label {
    transform: scale(1.1);
}

    #like-check:checked + label:hover {
        transform: scale(1.05);
    }

    #like-check:checked + label:after {
        content: "\f004";
        font-size: 35px;
        font-family: FontAwesome, serif;
        color: #e20505;
        transition: .3s ease-in-out;
    }


.fa-refresh:before {
    font-size: 1.5em;
    font-family: FontAwesome, serif;
    color: #524f4e;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px 0 20px;
    border-radius: 50%;
/*    background: transparent;
    transition: .3s ease-in-out;*/
}

.more-button:hover .fa-refresh {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.more-button:hover {
    background-color: #abc0db;
}



.font-footer li {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

footer {
    width: 100%;
    height: 80px;
    background: #0b2852;
    color: white;
    position: relative;
    padding: 0 30px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
    margin-top: 20px;
    min-width: 500px;
}

.footer-ul {
    width: inherit;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

    .footer-ul li {
        padding-left: 20px;
        padding-right: 20px;
    }

.footer-img-logo {
    height: 80px;
    width: 80px;
}

@media (max-width: 780px) {
    .header-logo-col {
        display: none;
    }

    .footer-li-5 {
        display: none;
    }
}

@media (max-width: 700px) {
    .footer-li-2 {
        display: none;
    }

    .footer-li-3 {
        display: none;
    }

    .footer-li-1 {
        display: none;
    }

    .footer-ul {
        justify-content: center;
    }
    .card-box {
        display: flex;
        width: 650px;
        height: 370px;
        background: none;
        float: left;
        margin: 10px 0 50px 30px;
    }

    .card-main-col {
        display: flex;
        width: 600px;
        height: 370px;
        background: none;
    }
    .card-main-part{
        height:auto;

    }
}

@media (max-width: 1050px) {
    * {
        transition: none;
    }

    .header-logo-col {
        display: none;
    }

    .header-button {
        display: none;
    }

    .main-container {
        /*margin-top: 60px;*/
        margin-top: 0px;
    }
}

@media (max-width: 850px) {
    header {
        height: auto;
    }

    .header-flex-box {
        height: auto;
        flex-direction: row;
        justify-content: center;
        display: block;
    }

    .header-logo-col {
        display: none;
    }

    .header-button {
        margin-bottom: 20px;
    }

    .main-container {
        /*margin-top: 60px;*/
        margin-top: 0px;
    }

    .header-username-col {
        display: none;
    }

    .header-button {
        display: none;
    }

    .header-username-col {
        display: none;
    }

/*    .filter-fieldset {
        margin-top: 50px;
    }*/
}

@media (max-width: 700px) {
    * {
        transition: none;
    }

    .post-info {
        text-align: left;
        border: 1px solid rgb(255, 255, 255);
        margin: 10px;
        background: rgb(14, 77, 129); /* Цвет фона  rgba(144, 214, 241, 0.9); */
    }

    .post-text {
        padding: 10px; /* Поля вокруг текста */
        color: white; /* Цвет текста */
        padding: 10px; /* Поля вокруг текста */
        font-size: 15px;
        font-family: 'Oswald-ExtraLight';
        font-weight: 500;
    }

    .card-box {
        display: flex;
        width: 650px;
        /*height: 370px;*/
        height: auto;
        background: none;
        float: left;
        margin: 0 0 50px 30px;
    }

    .card-main-col {
        display: flex;
        width: 600px;
        height: 370px;
        background: none;
    }

    .card-buttons-col {
        display: flex;
        flex-direction: column;
        min-width: 50px;
        margin-left: 5px;
        background: none;
    }

    .card-hashtags {
        display: flex;
        font-size: 14px;
        height: 20px;
        margin-top: 5px;
        font-family: Barlow-Medium,sans-serif;
        color: black;
    }

    .card-main-box {
        display: flex;
        width: inherit;
        background: white;
        float: left;
        padding: 17px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 17px -10px #000000;
    }

    .card-img {
        float: left;
        margin: 10px;
/*        width: 300px;*/
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

    .card-img-box {
        padding-top: 100px;
        width: 280px;
        height: 280px;
        display: flex;
        border-width: 0;
        border-style: solid;
        border-radius: 10px;
        align-items: center;
        margin-top: 50px;
        margin-left: 0%;
    }

    .card-text-user {
        font-size: 25px;
        text-align: left;
        font-family: 'Oswald-ExtraLight';
    }

    .card-text-time {
        font-size: 15px;
        font-family: 'Oswald-ExtraLight';
    }

    .card-text-top {
        font-size: 14px;
        flex-direction: column;
        height: 270px;
        display: flex;
        justify-content: space-between;
    }


    .card-text-box {
        display: flex;
        flex-direction: column;
        width: auto;
        height:inherit;
    }

    .card-text-hr {
        margin: 10px 0;
    }

    .card-text-top span {
        font-weight: bold;
    }

    .card-text-bottom-left {
        /*display: flex;
        flex-direction: row;*/
        justify-content: center;
        height: 40px;
        padding-bottom: 20px;
        /*margin-right: 400px;*/
/*        width: 600px;*/
    }

    .card-text-bottom-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card-box {
        width: 420px;
        height: auto;
        /*margin: 0 0 0 30px;*/
    }

    .main-box-inline-block {
        width: 420px;
    }

    .card-main-col {
        flex-direction: column;
        width: 370px;
        height: auto;
    }

    .card-buttons-col {
        display: flex;
        flex-direction: column;
        width: 60px;
        margin-left: 5px;
        background: none;
    }

    .card-main-box {
        flex-direction: column;

    }

    .card-img-box {
        margin-bottom: 17px;
    }

    .card-text-box {
        display: flex;
        flex-direction: column;
        width: 335px;
        height:inherit;
    }
}


.card-edit-button div, .card-delete-button div {
    display: block;
    /*transition: .5s ease-in-out;*/
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

/*.button-7:hover div {
    display: block;
    min-width: 1vw;
    word-wrap: break-word;
    text-align: center;
    opacity: 1;
    margin-right: 6px;
    color: #524f4e;
    transition: .8s ease-in-out;
    overflow: hidden;
}*/
/*.card-image {
    width:200px;
    height:200px;
}*/
.object-fit_contain {
    object-fit: contain
}
.find-button {
    border:none;
    color: white;
    height:30px;
}
/*body{
    background-image:url(images/contact-us.jpg);
}*/