@{
    ViewBag.Title = "Ошибка";
}
<!DOCTYPE html>
<head>

    <link href="~/Content/index-styles.css" rel="stylesheet" />
    <link href="~/Content/error-styles.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
</head>
<body>
    <main class="main-container">
        <div class="error-message">
            <img src="~/Content/images/twitter_cover.jpg" />
            <p class="error-message-text">
                Error :(
            </p>
        </div>
    </main>
</body>

